## Codio Activity 7.7: Using Non-Numeric Features

**Expected Time = 90 minutes**

**Total Points = 40**

This activity focuses on making use of features that are categorical.  In the example of the tips dataset, the day column was initially a string (or object). Through the process of dummy encoding the feature the resulting data representations can be used in a regression model.  

In this activity, you will explore the dummy encoding process to build and compare different regression models.  Specifically, you will use the sklearn estimators `LinearRegression` and `HuberRegressor` to fit your models.  These two models implement the mean squared error and huber loss functions, returning parameters that minimize the respective loss. 

## Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)
- [Problem 5](#Problem-5)
- [Problem 6](#Problem-6)
- [Problem 7](#Problem-8)
- [Problem 8](#Problem-8)
- [Problem 9](#Problem-9)
- [Problem 10](#Problem-10)

In [1]:
import plotly.express as px
import numpy as np
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression, HuberRegressor
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')

### The Dataset

The `diamonds` dataset from seaborn is loaded and displayed below.  You will explore models that use both the `cut` and `color` features independently, and models using all possible features.  To begin, you will use pandas `get_dummies` function to produce the dummy encoded data.  Your dummy encoded data should have as many features as there are unique values in the data.

In [2]:
diamonds = sns.load_dataset('diamonds')

In [3]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

[Back to top](#Index:) 

## Problem 1

### Unique Values in `cut` and `color`

**4 Points**

Using the `cut` and `color` columns, determine the number of unique values in each column.  Assign the number of unique values in each feature as integers to `num_cuts` and `num_color` below.

In [4]:
### GRADED

num_cuts = ''
num_color = ''

# YOUR CODE HERE
#raise NotImplementedError()
num_cuts = len(diamonds.cut.value_counts())
num_color = len(diamonds.color.value_counts())

# Answer check
print(num_cuts)
print(num_color)

5
7

[Back to top](#Index:) 

## Problem 2

### Encoding the `cut` column

**4 Points**

Create a dummy encoded version of the `cut` column.  Assign your encoded data as a DataFrame to the variable `cut_encoded` below.

In [5]:
### GRADED

cut_encoded = ''

# YOUR CODE HERE
#raise NotImplementedError()
cut_encoded = pd.get_dummies(diamonds[['cut']])

# Answer check
print(cut_encoded.shape)
print(type(cut_encoded))
cut_encoded.head()

(53940, 5)
<class 'pandas.core.frame.DataFrame'>

   cut_Ideal  cut_Premium  cut_Very Good  cut_Good  cut_Fair
0          1            0              0         0         0
1          0            1              0         0         0
2          0            0              0         1         0
3          0            1              0         0         0
4          0            0              0         1         0

[Back to top](#Index:) 

## Problem 3

### A Regression model on `cut`

**4 Points**

Build a regression model using the dummy encoded version of the `cut` column to predict the `price` column.  Use the `LinearRegression` estimator and assign the model to `cut_linreg` below.  Be sure to set `fit_intercept = False`.

In [6]:
### GRADED

X = ''
y = ''
cut_linreg = ''

# YOUR CODE HERE
#raise NotImplementedError()
X = cut_encoded
y = diamonds['price']
cut_linreg = LinearRegression(fit_intercept = False)
cut_linreg.fit(X, y)

# Answer check
print(cut_linreg)
print(type(cut_linreg))
cut_linreg.coef_

LinearRegression(fit_intercept=False)
<class 'sklearn.linear_model._base.LinearRegression'>

array([3457.54197021, 4584.2577043 , 3981.75989075, 3928.86445169,
       4358.75776398])

[Back to top](#Index:) 

## Problem 4

### Interpreting the results

**4 Points**

Compare the coefficients of the model.  Which cut does your model predict as the price for a diamond with an `ideal_cut`?  Assign your solution as a float rounded to two decimal places to `ideal_cut_prediction` below.

In [7]:
### GRADED

ideal_cut_prediction = ''

# YOUR CODE HERE
#raise NotImplementedError()
ideal_cut_prediction = round(float(cut_linreg.predict([[1,0,0,0,0]])[0]),2)

# Answer check
print(ideal_cut_prediction)
print(type(ideal_cut_prediction))

3457.54
<class 'float'>

[Back to top](#Index:) 

## Problem 5

### Building a model on `clarity`

**4 Points**

Below, create a dummy encoded DataFrame of the `clarity` feature.  Assign this DataFrame to the variable `X` below, and the column `price` to `y`.  Use this encoded data to build a regression model to predict price.  Assign your fit model to the variable `clarity_linreg` below.  Be sure to set `fit_intercept = False`.

In [8]:
### GRADED

X = ''
y = ''
clarity_linreg = ''

# YOUR CODE HERE
#raise NotImplementedError()
X = pd.get_dummies(diamonds['clarity'])
y = diamonds['price']
clarity_linreg = LinearRegression(fit_intercept = False)
clarity_linreg.fit(X, y)

# Answer check
print(clarity_linreg.coef_)

[2864.83910615 2523.11463748 3283.73707067 3839.45539102 3924.98939468
 3996.00114811 5063.02860561 3924.16869096]

[Back to top](#Index:) 

## Problem 6

### Interpreting the results

**4 Points**

Examine your coefficients and compare these to the columns of the dummy encoded version of the `clarity` column.  What price does your model predict for a diamond with clarity `SI2`?  Assign your results as a float rounded to 2 decimal places to `clarity_si2_prediction`.

In [9]:
clarity_linreg.coef_

array([2864.83910615, 2523.11463748, 3283.73707067, 3839.45539102,
       3924.98939468, 3996.00114811, 5063.02860561, 3924.16869096])

In [10]:
X

       IF  VVS1  VVS2  VS1  VS2  SI1  SI2  I1
0       0     0     0    0    0    0    1   0
1       0     0     0    0    0    1    0   0
2       0     0     0    1    0    0    0   0
3       0     0     0    0    1    0    0   0
4       0     0     0    0    0    0    1   0
...    ..   ...   ...  ...  ...  ...  ...  ..
53935   0     0     0    0    0    1    0   0
53936   0     0     0    0    0    1    0   0
53937   0     0     0    0    0    1    0   0
53938   0     0     0    0    0    0    1   0
53939   0     0     0    0    0    0    1   0

[53940 rows x 8 columns]

In [11]:
### GRADED

clarity_si2_prediction = ''

# YOUR CODE HERE
#raise NotImplementedError()
clarity_si2_prediction = round(float(clarity_linreg.predict([[0,0,0,0,0,0,1,0]])[0]),2)
# Answer check
print(clarity_si2_prediction)
print(type(clarity_si2_prediction))

5063.03
<class 'float'>

[Back to top](#Index:) 

## Problem 7

### A Model with `cut`, `clarity`, and `carat`

**4 Points**

Now, you are to build a model with three features -- `cut`, `clarity`, `carat`.  Create the dummy encoded data and use `LinearRegression` to build a model to predict `price`.  Assign your fit model to the variable `ccc_linreg` below.  Be sure to set `fit_intercept = False`.

In [12]:
pd.concat([diamonds['carat'], pd.get_dummies(diamonds['cut']), pd.get_dummies(diamonds['clarity'])], axis=1)

,carat,Ideal,Premium,Very Good,Good,Fair,IF,VVS1,VVS2,VS1,VS2,SI1,SI2,I1
0,0.23,1,0,0,0,0,0,0,0,0,0,0,1,0
1,0.21,0,1,0,0,0,0,0,0,0,0,1,0,0
2,0.23,0,0,0,1,0,0,0,0,1,0,0,0,0
3,0.29,0,1,0,0,0,0,0,0,0,1,0,0,0
4,0.31,0,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,1,0,0,0,0,0,0,0,0,0,1,0,0
53936,0.72,0,0,0,1,0,0,0,0,0,0,1,0,0
53937,0.70,0,0,1,0,0,0,0,0,0,0,1,0,0
53938,0.86,0,1,0,0,0,0,0,0,0,0,0,1,0
53939,0.75,1,0,0,0,0,0,0,0,0,0,0,1,0

In [13]:
### GRADED

ccc_linreg = ''

# YOUR CODE HERE
#raise NotImplementedError()
X = pd.concat([diamonds['carat'], pd.get_dummies(diamonds['cut']), pd.get_dummies(diamonds['clarity'])], axis=1)
#X = pd.concat(X, diamonds['carat'], axis=1)
y = diamonds['price']
ccc_linreg = LinearRegression(fit_intercept = False)
ccc_linreg.fit(X, y)

# Answer check
print(ccc_linreg)

LinearRegression(fit_intercept=False)

[Back to top](#Index:) 

## Problem 8

### Interpreting the results

**4 Points**

Examine the coefficients from the model and use them to determine the predicted price of a diamond with the following features:

```
carat = 0.8
cut = Ideal
clarity = SI2
```

Assign your solution as a float rounded to two decimal places to the variable `ccc_prediction` below.

In [14]:
X

,carat,Ideal,Premium,Very Good,Good,Fair,IF,VVS1,VVS2,VS1,VS2,SI1,SI2,I1
0,0.23,1,0,0,0,0,0,0,0,0,0,0,1,0
1,0.21,0,1,0,0,0,0,0,0,0,0,1,0,0
2,0.23,0,0,0,1,0,0,0,0,1,0,0,0,0
3,0.29,0,1,0,0,0,0,0,0,0,1,0,0,0
4,0.31,0,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,1,0,0,0,0,0,0,0,0,0,1,0,0
53936,0.72,0,0,0,1,0,0,0,0,0,0,1,0,0
53937,0.70,0,0,1,0,0,0,0,0,0,0,1,0,0
53938,0.86,0,1,0,0,0,0,0,0,0,0,0,1,0
53939,0.75,1,0,0,0,0,0,0,0,0,0,0,1,0

In [15]:
### GRADED

ccc_prediction = ''

# YOUR CODE HERE
#raise NotImplementedError()
ccc_prediction = round(float(ccc_linreg.predict([[0.8, 1,0,0,0,0, 0,0,0,0,0,0,1,0]])),2)

# Answer check
print(clarity_si2_prediction)
print(type(clarity_si2_prediction))

5063.03
<class 'float'>

[Back to top](#Index:) 

## Problem 9

### A Model with all features

**4 Points**

Now, build a model that contains all features to predict `price`.  Be sure to dummy encode all of the features in the data.  Determine the `mean_squared_error` of your predictions.  Use the `LinearRegression` estimator and the `mean_squared_error` function from sklearn.  Be sure to set `fit_intercept = False`.  

Assign your fit model to the variable `all_features_linreg` and the mean squared error as a float to `linreg_mse` below.

In [16]:
### GRADED

X = ''
y = ''
all_features_linreg = ''
linreg_mse = ''

# YOUR CODE HERE
#raise NotImplementedError()
X = pd.concat([diamonds[['carat','depth','table','x','y','z']],
               pd.get_dummies(diamonds['cut']), 
               pd.get_dummies(diamonds['color']), 
               pd.get_dummies(diamonds['clarity'])], axis=1)
#X = pd.concat(X, diamonds['carat'], axis=1)
y = diamonds['price']
all_features_linreg = LinearRegression(fit_intercept = False)
all_features_linreg.fit(X, y)
linreg_mse = float(mean_squared_error(y, all_features_linreg.predict(X)))

# Answer check
print(all_features_linreg)
print(all_features_linreg.coef_)
print(linreg_mse)

LinearRegression(fit_intercept=False)
[ 1.12569783e+04 -6.38061004e+01 -2.64740847e+01 -1.00826110e+03
  9.60888648e+00 -5.01188909e+01  2.71221727e+03  2.64144937e+03
  2.60608801e+03  2.45905687e+03  1.87930542e+03  2.58257671e+03
  2.37345863e+03  2.30972288e+03  2.10053781e+03  1.60231004e+03
  1.11633224e+03  2.13178649e+02  3.06769746e+03  2.73035426e+03
  2.67340929e+03  2.30099313e+03  1.98981878e+03  1.38806730e+03
  4.25181510e+02 -2.27740478e+03]
1276545.174308389

[Back to top](#Index:) 

## Problem 10

### A `HuberRegressor` on all features

**4 Points**

Using all the features as in the previous problem, build a model using the `HuberRegressor` estimator from `sklearn`.  Be sure to set `fit_intercept = False` and assign your fit model to `huber_all_features` below.  Compute the mean squared error of the Huber model and assign it as a float to the variable `huber_mse` below.

In [17]:
### GRADED

X = ''
y = ''
huber_all_features = ''
huber_mse = ''

# YOUR CODE HERE
#raise NotImplementedError()
X = pd.concat([diamonds[['carat','depth','table','x','y','z']],
               pd.get_dummies(diamonds['cut']), 
               pd.get_dummies(diamonds['color']), 
               pd.get_dummies(diamonds['clarity'])], axis=1)
y = diamonds['price']
huber_all_features = HuberRegressor(fit_intercept = False)
huber_all_features.fit(X, y)
huber_mse = float(mean_squared_error(y, huber_all_features.predict(X)))

# Answer check
print(huber_all_features)
print(huber_all_features.coef_)
print(huber_mse)

HuberRegressor(fit_intercept=False)
[ 8.13082884e+03  2.62301578e+00 -3.81772204e+01 -1.52400545e+02
 -3.40420914e+02  5.34639297e+02 -4.80291614e+01  8.04253381e+01
  2.80529700e+02  9.52795806e+01 -6.85976443e+02  7.39465303e+02
  4.74729878e+02  3.35046839e+02  4.52285213e+02  3.91552326e+01
 -4.30488731e+02 -1.88796472e+03  1.73873667e+03  8.92232231e+02
  3.74507552e+02  1.48921677e+02  2.65050616e+02 -3.59156263e+02
 -9.72098645e+02 -2.36596482e+03]
1736078.249057862

### Conclusion

While some basic initial models have been explored here, there is much more to explore to fine tune things. One thing that could be revisited is the representation of features through transformations and the engineering of different representations of existing features.  For example, the dimensions of the diamond in `x`, `y`, and `z` could be multiplied to create a feature "volume".  This allows for a more reasonable representation of three columns of data with one.  A second approach we might take is to use PCA to reduce the dimensionality of the data.  Third is to use clustering to engineer new features based on the cluster results.  Consider exploring different representations of the features and trying to improve these initial models.