### Codio Activity 4.2: Complex Joins on Datasets

**Expected Time: 60 Minutes**

**Total Points: 10**

![](images/kiva.png)

This assignment focuses on using pandas merge to answer questions using multiple data sources.  Here you will combine data and use many of the earlier `pandas` methods together with the `merge` function to extract insights from our data source.  The data comes from the Kiva loan provider organization and was part of a kaggle Data Science for good contest [here](https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding).

#### Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)
- [Problem 5](#Problem-5)

### The Data

Kiva allows users to fund loans to small organizations around the world.  The four datasets contain a subset of the data provided on kaggle and describe information on the individual loan, when it was given, where the borrowers were located, and what the loans were being used for.  Below, the data is loaded into four DataFrames and the first two rows of each displayed.  Note the shared `id` column across all four datasets.

In [1]:
import pandas as pd

In [2]:
crowdsource = pd.read_csv('data/kiva/crowdsource.csv')
crowdsource.head(2)

        id                posted_time                funded_time  lender_count
0   658776  2014-01-17 21:21:10+00:00  2014-02-05 17:57:55+00:00            33
1  1314847  2017-06-07 02:02:41+00:00  2017-06-21 17:10:38+00:00             9

In [3]:
demographics = pd.read_csv('data/kiva/demographics.csv')
demographics.head(2)

        id      country                 region borrower_genders
0   658776  El Salvador      Ciudad El Triunfo             male
1  1314847  Philippines  Bais, Negros Oriental           female

In [4]:
financials = pd.read_csv('data/kiva/financials.csv')
financials.head(2)

        id  funded_amount currency  term_in_months
0   658776         1000.0      USD            20.0
1  1314847          225.0      PHP            13.0

In [5]:
use = pd.read_csv('data/kiva/use.csv')
use.head(2)

,id,activity,sector,use
0,658776,Vehicle,Personal Use,to purchase a motorcycle in order to travel fr...
1,1314847,Pigs,Agriculture,to buy feed and other supplies like vitamins t...

[Back to top](#Index:) 

### Problem 1

#### Kenyan Loan Amounts

**5 Points**

Use the `demographics` and `financials` data to determine the average loan amount for the country Kenya.  Save your response as a float to `ans1` below.

In [6]:
geofin = pd.merge(left = demographics, right = financials, on = 'id')
geofin.query('country == "Kenya"')[['funded_amount']].agg('mean')

funded_amount    443.472344
dtype: float64

In [7]:
### GRADED

ans1 = None

# YOUR CODE HERE
#raise NotImplementedError()
geofin = pd.merge(left = demographics, right = financials, on = 'id')
ans1 = geofin.query('country == "Kenya"')[['funded_amount']].agg('mean').values[0]
# Answer check
print(ans1)
print(type(ans1))

443.4723441615452
<class 'numpy.float64'>

[Back to top](#Index:) 

### Problem 2

### El Salvador Top Sector

**5 Points**

Use the `demographics` and `use` datasets to determine the sector of work that received the most loans in El Salvador.  Assign your result as a string to `ans2` below.

In [8]:
geofinuse = pd.merge(left = geofin, right = use, on = 'id')
geofinuse.query('country == "El Salvador"').groupby('sector')[['funded_amount']].agg('sum').reset_index().sort_values(by='funded_amount',ascending=False)['sector']

0        Agriculture
5               Food
10            Retail
7            Housing
11          Services
2           Clothing
8      Manufacturing
9       Personal Use
1               Arts
12    Transportation
3       Construction
6             Health
4          Education
Name: sector, dtype: object

In [39]:
pd.merge(demographics.loc[demographics['country'] == 'El Salvador'], use, on = 'id')['activity'].value_counts()
geofinuse.query('country == "El Salvador"').groupby('activity').count().sort_values(by='id',ascending=False).index[0]

'Personal Housing Expenses'

In [40]:
### GRADED

ans2 = None

# YOUR CODE HERE
#raise NotImplementedError()
geofinuse = pd.merge(left = geofin, right = use, on = 'id')
ans2 = geofinuse.query('country == "El Salvador"').groupby('activity').count().sort_values(by='id',ascending=False).index[0]

# Answer check
print(ans2)
print(type(ans2))

Personal Housing Expenses
<class 'str'>

### Problem 3

#### Pakistan Loans in Agriculture

**5 Points**

Combine the `use`, `demographics`, and `financials` data to determine the total amount of loans for Agriculture in Pakistan.  Assign your results as a float to `ans3` below.

In [41]:
geofinuse.activity.unique()

array(['Vehicle', 'Pigs', 'Bookstore', 'Photography', 'Fuel/Firewood',
       'Tailoring', 'Barber Shop', 'Cereals', 'Farming', 'Clothing Sales',
       'Fruits & Vegetables', 'Food Production/Sales',
       'Higher education costs', 'General Store', 'Services',
       'Construction Supplies', 'Poultry', 'Personal Housing Expenses',
       'Personal Products Sales', 'Retail', 'Agriculture',
       'Education provider', 'Grocery Store', 'Transportation',
       'Home Appliances', 'Crafts', 'Cattle', 'Restaurant',
       'Fish Selling', 'Livestock', 'Primary/secondary school costs',
       'Beauty Salon', 'Sewing', 'Farm Supplies', 'Cafe', 'Food',
       'Clothing', 'Food Stall', 'Personal Medical Expenses', 'Fishing',
       'Butcher Shop', 'Cloth & Dressmaking Supplies',
       'Secretarial Services', 'Animal Sales', 'Electronics Sales',
       'Electrical Goods', 'Plastics Sales', 'Food Market',
       'Personal Expenses', 'Land Rental', 'Wedding Expenses', 'Rickshaw',
       'Weaving', 'Internet Cafe', 'Cheese Making', 'Property',
       'Liquor Store / Off-License', 'Charcoal Sales', 'Dental', 'Pub',
       'Embroidery', 'Spare Parts', 'Dairy', 'Natural Medicines',
       'Auto Repair', 'Motorcycle Transport', 'Cosmetics Sales',
       'Vehicle Repairs', 'Home Energy', 'Waste Management', 'Taxi',
       'Construction', 'Textiles', 'Used Clothing', 'Shoe Sales',
       'Electronics Repair', 'Hardware', 'Manufacturing',
       'Veterinary Sales', 'Used Shoes', 'Flowers', 'Arts',
       'Home Products Sales', 'Bakery', 'Phone Accessories', 'Laundry',
       'Perfumes', 'Milk Sales', 'Recycling', 'Furniture Making',
       'Mobile Phones', 'Renewable Energy Products', 'Beverages',
       'Call Center', 'Metal Shop', 'Carpentry', 'Paper Sales',
       'Water Distribution', 'Bricks', 'Utilities', 'Jewelry', 'Games',
       'Health', 'Motorcycle Repair', 'Hotel', 'Medical Clinic',
       'Timber Sales', 'Knitting', 'Phone Use Sales', 'Pharmacy',
       'Catering', 'Cleaning Services', 'Entertainment', 'Consumer Goods',
       'Musical Instruments', 'Decorations Sales', 'Movie Tapes & DVDs',
       'Souvenir Sales', 'Recycled Materials', 'Tourism', 'Cobbler',
       'Sporting Good Sales', 'Mobile Transactions', 'Computers',
       'Traveling Sales', 'Child Care', 'Office Supplies', 'Cement',
       'Quarrying', 'Musical Performance', 'Printing', 'Upholstery',
       'Machine Shop', 'Phone Repair', 'Aquaculture', 'Air Conditioning',
       'Technology', 'Bookbinding', 'Energy', 'Bicycle Repair',
       'Goods Distribution', 'Blacksmith', 'Wholesale', 'Electrician',
       'Patchwork', 'Bicycle Sales', 'Computer', 'Party Supplies'],
      dtype=object)

In [43]:
### GRADED

ans3 = None

# YOUR CODE HERE
#raise NotImplementedError()
ans3 = geofinuse.query('country == "Pakistan" and activity == "Agriculture"').groupby('activity')[['funded_amount']].agg('sum').reset_index()['funded_amount'][0]

# Answer check
print(ans3)
print(type(ans3))

1275.0
<class 'numpy.float64'>

[Back to top](#Index:) 

### Problem 4

#### Top Total Loan Sector

**5 Points**


What sector received the most total dollars in funding?  Assign your response as a string to `ans4` below.

In [46]:
pd.merge(financials, use, on = 'id').groupby('activity')[['funded_amount']].sum().sort_values(by = 'funded_amount', ascending = False)

                     funded_amount
activity
Farming                   678550.0
General Store             543600.0
Agriculture               420940.0
Retail                    359400.0
Clothing Sales            324825.0
...                            ...
Blacksmith                   750.0
Bicycle Sales                350.0
Party Supplies               350.0
Sporting Good Sales          300.0
Energy                       225.0

[148 rows x 1 columns]

In [71]:
geofinuse.groupby('activity')[['funded_amount']].agg('sum').sort_values(by='funded_amount',ascending=False).reset_index()['activity'].loc[0]

'Farming'

In [72]:
### GRADED

ans4 = None

# YOUR CODE HERE
#raise NotImplementedError()
ans4 = geofinuse.groupby('activity')[['funded_amount']].agg('sum').sort_values(by='funded_amount',ascending=False).reset_index()['activity'].loc[0]

# Answer check
print(ans4)
print(type(ans4))

Farming
<class 'str'>

[Back to top](#Index:) 

### Problem 5

#### Top Loan by Lender Amount

**5 Points**


Note that each loan is a combination of lenders.  Determine which loan sector has the highest ratio of dollar to lender amount.  Assign the sector with the highest ratio as a string to `ans5` below.

In [74]:
geofinusecrowd = pd.merge(left = geofinuse, right = crowdsource, on = 'id')
geofinusecrowd['dollar_to_lender_ratio'] = geofinusecrowd['funded_amount'] / geofinusecrowd['lender_count']
geofinusecrowd

,id,country,region,borrower_genders,funded_amount,currency,term_in_months,activity,sector,use,posted_time,funded_time,lender_count,dollar_to_lender_ratio
0,658776,El Salvador,Ciudad El Triunfo,male,1000.0,USD,20.0,Vehicle,Personal Use,to purchase a motorcycle in order to travel fr...,2014-01-17 21:21:10+00:00,2014-02-05 17:57:55+00:00,33,30.303030
1,1314847,Philippines,"Bais, Negros Oriental",female,225.0,PHP,13.0,Pigs,Agriculture,to buy feed and other supplies like vitamins t...,2017-06-07 02:02:41+00:00,2017-06-21 17:10:38+00:00,9,25.000000
2,863063,Peru,Huarochiri,"female, female, female, female, female, female...",1150.0,PEN,6.0,Bookstore,Retail,"to buy notebooks, pencils, and pens.",2015-03-27 20:08:04+00:00,2015-04-04 15:01:22+00:00,1,1150.000000
3,1184347,Armenia,Vanadzor town,female,1700.0,AMD,26.0,Photography,Services,to pay for a new lens for providing photograph...,2016-11-14 07:32:12+00:00,2016-11-25 03:07:13+00:00,47,36.170213
4,729745,Uganda,Masindi,female,400.0,UGX,8.0,Fuel/Firewood,Retail,to buy firewood to sell.,2014-06-24 07:35:46+00:00,2014-07-10 16:12:43+00:00,12,33.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,679499,Pakistan,Lahore,female,400.0,PKR,12.0,Fruits & Vegetables,Food,to help her husband buy onions for resale.,2014-03-05 07:05:38+00:00,2014-03-13 01:01:41+00:00,11,36.363636
9996,873525,Kenya,Machakos,"male, male, female, female, male",375.0,KES,14.0,Farming,Agriculture,to buy fertilizer and pesticides to boost his ...,2015-04-22 06:32:13+00:00,NaN,6,62.500000
9997,917686,Senegal,NaN,"female, female",1375.0,XOF,8.0,Fish Selling,Food,buy fish,2015-07-15 11:53:33+00:00,2015-08-14 11:45:40+00:00,44,31.250000
9998,905789,Philippines,"Binalbagan, Negros Occidental",female,450.0,PHP,13.0,General Store,Retail,to buy more groceries to sell.,2015-06-22 07:44:18+00:00,2015-07-14 00:20:45+00:00,11,40.909091
9999,1216411,Philippines,"Carmen, Bohol",female,125.0,PHP,16.0,Personal Housing Expenses,Housing,"to buy cement, hollow blocks, GI sheets, sand,...",2017-01-06 06:54:07+00:00,2017-01-08 01:17:28+00:00,1,125.000000

In [78]:
geofinusecrowd.groupby('activity')[['dollar_to_lender_ratio']].sum().sort_values('dollar_to_lender_ratio', ascending = False).index[0]

'General Store'

In [81]:
### GRADED

ans5 = None

# YOUR CODE HERE
#raise NotImplementedError()
ans5 = geofinusecrowd.groupby('activity')[['dollar_to_lender_ratio']].agg('sum').sort_values(by='dollar_to_lender_ratio',ascending=False).reset_index()['activity'][0]

# Answer check
print(ans5)
print(type(ans5))

General Store
<class 'str'>