## Codio Activity 1.3: Selecting Data in Multiple Ways

**Expected Time: 45 Minutes**

**Total Points: 18 Points**

## Index:

- [Part 1](#Part-one)
- [Part 2](#Part-two)
- [Part 3](#Part-three)

In [1]:
import pandas as pd

[Back to top](#Index:) 

## Part one

### loc[]

**2 Points each**

In this exercise, return the basic information from a dataframe using loc[]

In [2]:
#create the DataFrame utilizing Pandas 
data = pd.read_csv('data/nba.csv')
data = data.iloc[:-1 , :]
data.head(5)

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [3]:
### GRADED

# Please print the information for the first line in the DataFrame. 

locinfo = None

# YOUR CODE HERE
#raise NotImplementedError()
locinfo = data.loc[0]

# ANSWER CHECK
print(locinfo)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Number                     0
Position                  PG
Age                       25
Height                   6-2
Weight                   180
College                Texas
Salary           7.73034e+06
Name: 0, dtype: object

In [4]:
### GRADED
# Please show LeBron James' team

teamdata = None

# YOUR CODE HERE
#raise NotImplementedError()
teamdata = data.loc[data.Name == 'LeBron James', 'Name':'Team']

# ANSWER CHECK
print(teamdata)

             Name                 Team
169  LeBron James  Cleveland Cavaliers

[Back to top](#Index:) 

## Part two

### iloc[]

**2 Points each**

In this exercise, return single selections using iloc[]

In [5]:
### GRADED
# Please print the first row of data frame 

fr = None

# YOUR CODE HERE
#raise NotImplementedError()
fr = data.iloc[0]

# ANSWER CHECK
print(fr)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Number                     0
Position                  PG
Age                       25
Height                   6-2
Weight                   180
College                Texas
Salary           7.73034e+06
Name: 0, dtype: object

In [6]:
### GRADED
# Please print the second row of data frame 

sr = None

# YOUR CODE HERE
#raise NotImplementedError()
sr = data.iloc[1]

# ANSWER CHECK
print(sr)

Unnamed: 0                 1
Name             Jae Crowder
Team          Boston Celtics
Number                    99
Position                  SF
Age                       25
Height                   6-6
Weight                   235
College            Marquette
Salary           6.79612e+06
Name: 1, dtype: object

In [7]:
### GRADED
# Please print the last row of data frame

lr = None

# YOUR CODE HERE
#raise NotImplementedError()
lr = data.iloc[-1]

# ANSWER CHECK
print(lr)

Unnamed: 0             455
Name          Tibor Pleiss
Team             Utah Jazz
Number                  21
Position                 C
Age                     26
Height                 7-3
Weight                 256
College                NaN
Salary             2.9e+06
Name: 455, dtype: object

In [8]:
###GRADED
# Please print the first column of data frame
 
fc = None

# YOUR CODE HERE
#raise NotImplementedError()
fc = data.iloc[:,0]

# ANSWER CHECK
print(fc)

0        0
1        1
2        2
3        3
4        4
      ...
451    451
452    452
453    453
454    454
455    455
Name: Unnamed: 0, Length: 456, dtype: int64

In [9]:
### GRADED
# Please print the second column of data frame

sc = None

# YOUR CODE HERE
#raise NotImplementedError()
sc = data.iloc[:,1]

# ANSWER CHECK
print(sc)

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

In [10]:
### GRADED
# Please print the last column of data frame

lc = None

# YOUR CODE HERE
#raise NotImplementedError()
lc = data.iloc[:,-1]

# ANSWER CHECK
print(lc)

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
451     981348.0
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
Name: Salary, Length: 456, dtype: float64

[Back to top](#Index:) 

## Part three

### Split

**2 Points each**

In this exercise, return the first and last name utilizing the split function

In [11]:
### GRADED

# Please print the first name of the first series in the data frame

firstname = None

# YOUR CODE HERE
#raise NotImplementedError()
firstname = data['Name'].str.split(expand=True).iloc[0,0]

# ANSWER CHECK
print('The first name is ' + firstname)

The first name is Avery

In [13]:
###GRADED

# Please print the last name of the first series in the data frame

lastname = None

# YOUR CODE HERE
#raise NotImplementedError()
lastname = data['Name'].str.split(expand=True).iloc[0,1]

# ANSWER CHECK
print('The last name is ' + lastname)

The last name is Bradley