### Codio Activity 3.2: The Basics of Data Visualization

**Expected Time: 60 Minutes**

**Total Points: 16**

This assignment is meant to review basic plots with three popular plotting libraries.  The libraries are loaded below, and the titanic data seen in the last module is used as the dataset. 

## Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)
- [Problem 5](#Problem-5)
- [Problem 6](#Problem-6)
- [Problem 7](#Problem-7)
- [Problem 8](#Problem-8)

In [3]:
import plotly.express as px
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'plotly'

In [ ]:
titanic = sns.load_dataset('titanic')

In [ ]:
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

[Back to top](#Index:) 

### Problem 1

**Bar Plot with `matplotlib`**



Create a barplot of the `class` column in the titanic data.  Use the following labels and title:

- `x axis`: Class of Tickets on Titanic
- `y axis`: Count 
- `title`: Count by Class on the Titanic

In [ ]:
### GRADED

### BEGIN SOLUTION
#raise NotImplementedError()
titanic.groupby("class").size().plot(kind='bar',x='class', xlabel='Class of Tickets on Titanic', ylabel='Count', title= 'Count by Class on the Titanic')
### END SOLUTION

In [ ]:
### BEGIN HIDDEN TESTS
pass
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 2

**Bar Plot with `seaborn`**

Create a barplot of the `class` column in the titanic data.  Use the following labels and title:

- `x axis`: Class of Tickets on Titanic
- `y axis`: Count 
- `title`: Count by Class on the Titanic

In [ ]:
### GRADED

### BEGIN SOLUTION
sns.countplot(x='class', data = titanic)
plt.xlabel('Class of Tickets on Titanic')
plt.ylabel('Count')
plt.title('Count by Class on the Titanic')
plt.show()
### END SOLUTION

In [ ]:
### BEGIN HIDDEN TESTS
pass
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 3

#### Bar Plot with `plotly`



Create a barplot of the `class` column in the titanic data using .  Use the following labels and title:

- `x axis`: Class of Tickets on Titanic
- `y axis`: Count 
- `title`: Count by Class on the Titanic

In [ ]:
### GRADED

### BEGIN SOLUTION
fig=px.bar(titanic, x='class', title='Count by Class on the Titanic', labels={'class':'Class of Tickets on Titanic', 'count':'Count'}, hover_data=[])
#, xlabel='Class of Tickets on Titanic', ylabel='Count by Class on the Titanic'
fig.show()
### END SOLUTION

In [ ]:
### BEGIN HIDDEN TESTS
pass
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 4

#### Histogram with `plotly`

Create a histogram of the fare column using `plotly`.  Use the `color_discrete_sequence` argument to change the default color, add a title `Histogram of Fares on the Titanic`, and an x-label `Fare`.

In [ ]:
### GRADED

### BEGIN SOLUTION

### END SOLUTION

In [ ]:
### BEGIN HIDDEN TESTS
pass
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 5

#### Histogram by survived with `plotly`

By setting the `color` argument to a string representing a column name, plotly will split the data and draw a histogram for each unique category in the column.  Draw a histogram of the `age` column split on `survived`.  Add a title "Histogram of Ages by Survival", an x-label `Age`.

In [ ]:
### GRADED

### BEGIN SOLUTION

### END SOLUTION

In [ ]:
### BEGIN HIDDEN TESTS
pass
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 6

#### Saving a plot with `matplotlib`

Create a histogram with `matplotlib` of the `fare` column using the following settings:

- `color`: lightblue
- `alpha`: 0.6
- `edgecolor`: black
- `bins`: 30


Adjust the figure to have `figsize = (12, 5)` and save it with the filename `fare.png`.

In [ ]:
### GRADED

### BEGIN SOLUTION

### END SOLUTION

In [ ]:
### BEGIN HIDDEN TESTS
pass
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 7

**Altering the dpi argument**

Repeat the above with the exact settings but adjust the dpi argument in `savefig` to 200.  Examine the images saved and note the different granularity of the images.

In [ ]:
### GRADED

### BEGIN SOLUTION

### END SOLUTION

In [ ]:
### BEGIN HIDDEN TESTS
pass
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 8

**Saving a `plotly` figure**

Use `plotly` to create a histogram of the `age` column.  Use the `write_image` method to save the plot to `plotly_hist.png`.

In [ ]:
### GRADED

### BEGIN SOLUTION

### END SOLUTION

In [ ]:
### BEGIN HIDDEN TESTS
pass
### END HIDDEN TESTS